<!DOCTYPE html>
<html lang=en>

<head>
    <title>0xJChen</title>
    <meta content="0xJChen" name=title>
    <meta content="Crypto researcher bridging mechanism design and applied engineering." name=description>
    <meta content=website property=og:type>
    <meta content=https://0xjchen.github.io property=og:url>
    <meta content="0xJChen" property=og:title>
    <meta content="Crypto researcher bridging mechanism design and applied engineering." property=og:description>
    <meta content=https://anishagnihotri.com/meta.png property=og:image>
    <meta content=summary_large_image property=twitter:card>
    <meta content=https://anishagnihotri.com property=twitter:url>
    <meta content="0xJChen" property=twitter:title>
    <meta content="Crypto researcher bridging mechanism design and applied engineering." property=twitter:description>
    <!-- <meta content=https://anishagnihotri.com/meta.png property=twitter:image> -->
    <!-- <link href=/favicon.ico rel=icon type=image/x-icon> -->
    <meta charset=UTF-8>
    <meta content="width=device-width" name=viewport>
    <meta content="Astro v2.10.9" name=generator>
    <link href=styles.css rel=stylesheet />
</head>

<body>
    <div class="astro-3EF6KSR2 header"><a href=/ class=astro-3EF6KSR2><img alt=logo class=astro-3EF6KSR2 height=40
                src=twitter.jpg width=40> </a>
        <ul class=astro-3EF6KSR2>
            <li class=astro-3EF6KSR2><a href=mailto:wangjch@umich.edu rel="noopener noreferrer" target=_blank
                    class=astro-3EF6KSR2>Email</a></li>
            <li class=astro-3EF6KSR2><a href=https://twitter.com/0xJChen rel="noopener noreferrer" target=_blank
                    class=astro-3EF6KSR2>Twitter</a></li>
            <li class=astro-3EF6KSR2><a href=https://github.com/0xJchen rel="noopener noreferrer" target=_blank
                    class=astro-3EF6KSR2>GitHub</a></li>
            <!-- <li class=astro-3EF6KSR2><a href=https://www.linkedin.com/in/jchenwang/ rel="noopener noreferrer" target=_blank
                class=astro-3EF6KSR2>LinkedIn</a></li> -->
        </ul>
    </div>
    <main>
        <div class="astro-DOHJNAO5 card">
            <div class="astro-DOHJNAO5 card-title"><span class=astro-DOHJNAO5>About</span></div>
            <div class="astro-DOHJNAO5 card-content">
				<p>Hi, there! I am 0xJChen, currently a second-year master's student at EECS, University of Michigan. I am now co-leading the Compound & AAVE delegation 
					program at <a href="https://www.michiganblockchain.org/">Michigan Blockchain</a> (delegate to <a href="https://www.tally.xyz/profile/michiganblockchain.eth">us</a>), 
					with a focus on Quantitative Risk Management.
					I am also working on the Crypto Option Blocktrade Desk at <a href="https://greeks.live/">Greeks.live</a>, with a focus on DeFi/CeFi Options Trading and Orderflow Analysis.
				</p>
				<p>
					<!-- Previously, I was a researcher in the area of <a href="https://scholar.google.com/citations?user=K1p0ygEAAAAJ&hl=en"> Reinforcement Learning</a> for three years,  -->
                    Previously, I was a researcher in the area of Reinforcement Learning for three years,
					focused on Multi-agent Systems and Game Theory. Check out our <a href="https://github.com/0xJchen/HanabiZero">agents</a> for solving imperfect information game <a href="https://www.deepmind.com/publications/the-hanabi-challenge-a-new-frontier-for-ai-research">Hanabi</a> with AlphaZero-like model-based DRL algorithms.
				</p>
                <p>[News] I will be joining Amber Group as a DeFi Quantitative Developer Intern in Spring, 2024.</p>
				<!-- <p>[!] I am looking for a full-time quantitative/software development <a href="https://www.linkedin.com/in/jchenwang/" style="text-decoration: none;">role</a> in 2024.</p> -->
				</div>
        </div>
        <div class="astro-DOHJNAO5 card">
            <div class="astro-DOHJNAO5 card-title"><span class=astro-DOHJNAO5>Interests</span></div>
            <div class="astro-DOHJNAO5 card-content">
                <p>MEV, Crypto Derivatives, Market Microstructure, Zero Knowledge Proof</p>
            </div>
        </div>
        <div class="astro-DOHJNAO5 card">
            <div class="astro-DOHJNAO5 card-title"><span class=astro-DOHJNAO5>Meetups</span></div>
            <div class="astro-DOHJNAO5 card-content">
                <ul class=astro-GT4YJ4LJ>
                   			 <li class=astro-GT4YJ4LJ><a
						href=https://www.tldresear.ch/schedule
						rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>TLDR Conference </span>
						<span class=astro-GT4YJ4LJ  >Columbia Business School, May 2024</span></a></li>
					<li class=astro-GT4YJ4LJ><a
						href=https://www.aeaweb.org/conference/2024-general-information
						rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>ASSA 2024(American Economic Association)</span>
						<span class=astro-GT4YJ4LJ  >San Antonio, Jan 2024</span></a></li>
					<li class=astro-GT4YJ4LJ><a
						href=http://columbiacryptoeconomics.org/
						rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>
							Columbia CryptoEconomics (CCE) Workshop</span>
						<span class=astro-GT4YJ4LJ  >Columbia University, Dec 2023</span></a></li>
					<li class=astro-GT4YJ4LJ><a
						href=https://cbr.stanford.edu/sbc23/
						rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>The Science of Blockchain Conference</span>
						<span class=astro-GT4YJ4LJ  >Stanford University, Aug 2023</span></a></li>
					<li class=astro-GT4YJ4LJ><a
						href=https://microstructure-course.com/
						rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>Market Microstructure Summer School</span>
						<span class=astro-GT4YJ4LJ>University of Edinburgh, June 2023</span></a></li>
					<li class=astro-GT4YJ4LJ><a
                            href=https://events.ethdenver.com/eden23/schedule/
                            rel="noopener noreferrer" target=_blank class=astro-GT4YJ4LJ style="text-decoration: none;"><span class=astro-GT4YJ4LJ>ETH Denver</span>
                            <span class=astro-GT4YJ4LJ>Denve, March 2023</span></a></li>
                </ul>
            </div>
        </div>
    </main>
<div class="mid-bottom-text">The price of freedom is eternal vigilance -Thomas Jefferson <br> 2023@0xJChen. Page template inspired by <a href="https://anishagnihotri.com/">Anish Agnihotri</a> </div>
</body>

</html>
